.bookUs{
	&__top{
		min-height: 350px !important;
		@include flexbox();
		text-align: center;
		align-items: center;
		@media (max-width: $md3+px) {
			min-height: 200px !important;
		}
		.title{
			margin-bottom: 0;
			@media (max-width: $md3+px) {
				margin-bottom: 20px;
			}
		}
	}
	&__row{
		@include flexbox();
		margin: 0 -15px;
		flex-wrap:wrap;
	}
	&__column{
		flex: 0 1 50%;
		padding:0 15px;
		margin-bottom: 30px;
		@include flexbox();
		@media (max-width: $md3+px) {
			flex: 0 1 100%;
		}
	}
	&__img{
		border-radius: 10px 10px 0px 0px;
		min-height: 191px;
		background-size: cover !important; 
		@include flexbox();
		justify-content: center;
		align-items: center;
	}
	&__item{
		@include flexbox();
		flex-direction:column;
		@media (max-width: $md3+px) {
			max-width: 340px;
			margin: 0 auto;
		}
	}
	&__name{
		font-size: 44px;
		line-height: 46px;
		@include flexbox();
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #FFFFFF;
		position: relative;
		span{
			position: relative;
		}
		&:before{
			content:'';
			background: url('../img/bookUs/romb.png') no-repeat;
			width: 141px;
			height: 75px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-right: -50%;
			transform: translate(-50%, -50%)
		}
	}
	&__content{
		background: #fff;
		border-radius: 0px 0px 10px 10px;
		padding:30px 35px 40px 35px;	
		@media (max-width: $md4+px) {
			padding: 30px 25px 40px 25px;
		}
	}
	&__text{
		font-family: 'Manrope';
		font-weight: 400;
		font-size: 18px;
		line-height: 36px;
		text-align: center;
		color: #000000;
		flex: 1 1 auto;
		display: block;
		background: #fff;
		padding:30px 35px 20px 35px;
		@media (max-width: $md4+px) {
			padding: 30px 25px 20px 25px;
		}
	}
	&__button{
		text-align: center;
		padding-top: 30px;
		position: relative;
		&:before{
			content: '';
			background: url(../img/btn-dec-b.png) no-repeat;
			position: absolute;
			top: 70%;
			left: 50%;
			margin-right: -50%;
			transform: translate(-50%, -50%);
			width: 234px;
			height: 115px;
		}
		button{
			min-width: 254px;
			background: rgba(0, 0, 0, 1);
			color:#fff;
			font-size: 24px;
			line-height: 26px;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			padding:0 32px;
			height: 55px;
			@media (max-width: $md3+px) {
				font-size: 18px;
			}
		}
	}
}