//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Manrope:wght@300;400;500;600;700&display=swap');
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Forum";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1110;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
@import "packages.scss";
@import "bookWithUs.scss";
@import "book.scss";
@import "packageInternal.scss";
@import "customise.scss";
@import "contact.scss";
@import "why.scss";
@import "popup.scss";


//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
.custom-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.custom-checkbox+label {
	display: inline-flex;
	align-items: center;
	user-select: none;
	cursor: pointer;

}
.custom-checkbox+label::before {
	content: '';
	display: inline-block;
	width: 25px;
	height: 25px;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid rgba(121, 101, 94, 1);
	border-radius: 3px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
	margin-right: 5px;
	cursor: pointer;
}

.custom-checkbox:checked+label::before {
	border-color: rgba(121, 101, 94, 1);
	background-image: url("../img/packages/check-i.svg");
}


.btn{
	display: inline-block;
	height: 38px;
	padding: 0px 21px;
	background-color: transparent;
	border: 0.624428px solid #FFFFFF;
	border-radius: 61.3171px;
	position: relative;
	line-height: 20px;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	text-transform: uppercase;
	cursor: pointer;
	&:hover{
		@include anim(0.3s, 0s);
		color:rgba(121, 101, 94, 1);
	}
	&-dec{
		height: 55px;
		background: #fff;
		font-size: 24px;
		line-height: 26px;
		letter-spacing: 0.04em;
		color: #0C0B10;
		@media (max-width: $md3+px) {
			font-size: 18px;
		}
		padding:0px 107px;

		&:after{
			content: '';
			position: absolute;
			top: -30px;
			right: 22px;
			background: url('../img/btn-dec.png') no-repeat;
			width: 280px;
			height: 115px;

		}
	}
}

.title{
	font-size: 60px;
	line-height: 58px;
	text-align: center;
	color: #0C0B10;
	margin-bottom: 85px;
	@media (max-width: $md4+px) {
		font-size: 45px;
	}

}

.mainTop{
	background: url('../img/packages/back-top-cloud.jpg') no-repeat bottom;
	// background: url('../img/packages/back-top-cloud.jpg') no-repeat left;
	background-size: cover;
	min-height: 450px;
	padding-top: 90px;
	position: relative;
}
.mainTopContact{
	position: relative;
	&:after{
		content: '';
		position: absolute;
		bottom: -20px;
		width: 100%;
		right: 0;
		background: linear-gradient(180deg, rgba(226, 211, 206, 0) 0%, rgba(226, 211, 206, 0.71) 42.71%, #E2D3CE 100%);
		height: 100px;
	}
}
.mainBody{
	height: 100%;
	background: linear-gradient(180deg, #E2D3CE 0%, #C9C8D8 30.73%, #D4D8C6 59.37%, #E2D3CE 100%);
}

.select-options-scroll{
	cursor: pointer !important; 
}

.input-date{
	position: relative;
	cursor: pointer;
	&:before{
		content: '';
		background: url('../img/bookUs/date-i.svg') center  no-repeat ;
		width: 17px;
		height: 16px;
		position: absolute;
		top: 20px;
		left: 14px;
	}
	&:after{
		content: '';
		position: absolute;top:0;
		right: 0px;width:45px;height:100%;
		background: url('../img/arrow-d.svg') center no-repeat;
	}
	input{
		padding: 0 45px 0 35px;
		font-family: 'Manrope';
		font-weight: 500;
		font-size: 18px;
		color: #0C0B10;
		line-height: 53px;
		cursor: pointer;
	}
}



.ui-datepicker{
	display: none;
}

.ui-helper-clearfix{
	display: none;
}

.slick-list {
	padding:0 20% 0 0 !important;
}


.rating-packages__list{
	transform: rotate(180deg);
}

.reviews-packageInt{
	.rating-packages__list{
		transform:unset;
	}
}


.tour-contact{
	font-family: 'Manrope';
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #0C0B10;
}


.tour-contact-b{
 	font-family: 'Manrope';
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #0C0B10;
	padding-top: 20px;

}
.tour-contact-b a {
  color: #0c0b10;
}
.tour-contact-b a,
.tour-contact-b span {
  position: relative;
  padding: 0 7px;
}
.tour-contact-b a:after,
.tour-contact-b span:after {
  content: '';
  position: absolute;
  right: -2px;
  top: 5px;
  width: 1px;
  height: 60%;
  background: #0c0b10;
}
.tour-contact-b a:last-child:after {
  display: none;
}


@media (max-width: 767.98px) {
  .tour-contact-b a,
  .tour-contact-b span {
    padding: 0 5px;
  }
}


.acf-map {
  width: 100%;
  height: 542px;
}

/* фиксим возможный конфликт css */
.acf-map img {
  max-width: inherit !important;
}

.form-packageInt__row {
	.rating-packages__list{
		transform:unset;
	}
}

.daterangepicker td.active, .daterangepicker td.active:hover{
	background-color: #E2D3CE !important;
}

.drp-buttons button{
	color:#0C0B10 !important;
}